@charset "UTF-8";
h1,h2, h3 div {
    text-align: center;
}

table {
    align: center;
    border: 0px solid #000000;
    margin-left: auto;
    margin-right: auto;
}

tbody>:nth-child(8) {
    text-align: center;
}